  
<!--<section class="formElem">-->
<!--    <%= f.label :renterID, 'Identification Number' %>-->
<!--    <%= f.text_field :renterID %>-->
<!--</section>-->

<section class="formElem">
    <%= f.label :renterName, 'Firstname Lastname' %>
    <%= f.text_field :renterName, maxlength: 32 %>
</section>

<!--<section class="formElem">-->
<!--    %= f.label :provider, 'Provider' %>-->
<!--    %= f.text_field :provider %>-->
<!--</section>-->

<!--<section class="formElem">-->
<!--    %= f.label :cCN, 'Credit Card Number' %>-->
<!--    %= f.text_field :cCN %>-->
<!--</section>-->

<section class="formElem">
    <%= f.label :birthday, 'Date of Birth' %>
    <%= f.date_select :birthday %>
</section>

<section class="formElem">
    <%= f.label :email, 'Email Address' %>
    <%= f.text_field :email, maxlength: 32 %>
</section>

<section class="formElem">
    <%= f.label :phone, 'Phone Number (with area code)' %>
    <%= f.text_field :phone, maxlength: 12 %>
</section>
