<table>
    
    <tr>
        <td><%= f.label :renterID, 'Identification Number' %></td>
        <td><%= f.text_area :renterID %></td>
    </tr>
    
    <tr>
        <td><%= f.label :name, 'Firstname Lastname' %></td>
        <td><%= f.text_area :name %></td>
    </tr>
    
    <tr>
        <td><%= f.label :provider, 'Provider' %></td>
        <td><%= f.text_area :provider %></td>
    </tr>
    
    <tr>
        <td><%= f.label :cCN, 'Credit Card Number' %></td>
        <td><%= f.text_area :cCN %></td>
    </tr>
    
    <tr>
        <td><%= f.label :birthday, 'Date of Birth' %></td>
        <td><%= f.date_select :birthday %></td>
    </tr>
    
    <tr>
        <td><%= f.label :email, 'Email Address' %></td>
        <td><%= f.text_area :email %></td>
    </tr>
    
    <tr>
        <td><%= f.label :phone, 'Phone Number (with area code)' %></td>
        <td><%= f.text_area :phone %></td>
    </tr>
    
</table>