<%= render :partial => 'renter_nav' %>

<h2>Edit a User</h2>

<%= form_for @renter do |f| %>

  <%= render :partial => 'renter_form', :locals => {:f => f} %>
  
  <section class="formElem" id="submitSect">
    <%= button_to "Update Renter", renter_path(@renter), :method => :create, :class => "boot", :id => "create" %>
    <%= link_to "Delete Renter", renter_path(@renter), :method => :delete, :class => "boot", :id => "delete", :data => { confirm: "Are you sure you want to delete Renter #{@renter.renterNname}?" } %>
  </section>

<% end %>

