<%= render :partial => 'renter_nav' %>

<h2>Edit a User</h2>

<%= form_for @renter do |f| %>

  <%= render :partial => 'renter_form', :locals => {:f => f} %>

  <section class="formElem">
    <%= f.submit "Update Renter", :class => "boot", :id => "create" %>
    <!--%= f.button "Update Bike", :type => "submit" %>-->
    
    <%= button_to "Delete Renter", renter_path(@renter), :method => :delete, :class => "boot", :id => "delete" %>
    <!--%= link_to 'Delete this Bike', bike_path(@bike), :method => :delete %>-->
  </section>

<% end %>

