<%= render :partial => 'renter_nav' %>

<h2>Users</h2>
<!--Displays table listing attributes for all bikes -->
<table>
	
	<!--Creates a row that is then populated with the headers (titles) for each of the columns-->
	<tr>
		<th>Name</th>
	</tr>
	
	<!--Creates a row that is populated with the data of the current user into each column-->
	<% @renters.each do |t| %>
		 <tr>
			<td>
				<!--Generates a link to the renter's page according to the renter's path and id-->
				<a href="<%= renters_path %>/<%= t.id %>"><%= t.renterName %></a>
			</td>
		</tr>
	<% end %>
	
</table>

<!-- Adds pagination/navigation from Kaminari -->
<div style="text-align: center;">
	<%= paginate @renters %>
	<div style="clear: both;">
		<%= page_entries_info @renters %>
	</div>
</div>