<%= render :partial => 'renter_nav' %>

<!-- Lists information about the current user -->
<h2><%= @renter.renterName %></h2>
<% if @renter.picture %> <img src="<%= @renter.picture %>" alt="Profile picture for <%= @renter.renterName %>" width='200'><br>
<p1> <% end %>
<p1>
Email: <%= @renter.email %> 
<br>
Phone:       <%= @renter.phone %> 
<br>
<!-- Birthday:    %= @renter.birthday.strftime('%m/%d/%Y') %> -->
<br>
Provider:    <%= @renter.provider %> 
<br>
Credit Card: <% if @renter.cCN.match(/\d{16}/) %>************<%= @renter.cCN[@renter.cCN.length-4..@renter.cCN.length] %> <% end %>
<br>

</p1>
