<%= render :partial => 'renter_nav' %>

<!-- Lists information about the current user -->
<h2><%= @renter.name %></h2>
<p1>
Email: <%= @renter.email %> 
<br>
Phone:       <%= @renter.phone %> 
<br>
Birthday:    <%= @renter.birthday %> 
<br>
Provider:    <%= @renter.provider %> 
<br>
Credit Card: ************<%= @renter.cCN[@renter.cCN.length-4..@renter.cCN.length] %> 
<br>
</p1>
