<h2>Tickets List</h2>
 
 <!--Displays table listing attributes for all bikes -->
 
 <div class="dataDisp">
 	
 	<% @tickets.each do |t| %>
        <!-- Show all tickets -->
  		<% if t.active %>
		    <div class="dataBike available">
        <% else %>
			<div class="dataBike unavailable">
		<% end %>
            <a href="<%= tickets_path %>/<%= t.id %>"> <%= t.renterName %>-<%= t.bikeid %></a>
                    </div>
  	
  	<% end %>
 	
 </div>
 
 <!-- Adds pagination/navigation from Kaminari -->
 <div style="text-align: center;">
 	<%= paginate @tickets %>
 	<div style="clear: both;">
 		<%= page_entries_info @tickets %>
 	</div>
 </div>
 
 