<p>Renter: <%= @ticket.renterName %></p>
<p>Bike: <a href="/bikes/<%=@ticket.bikeid%>"> <%= @ticket.bikeid %></a> </p>
<p>Checked out: <%= @ticket.checkout.strftime("%m/%d/%Y") %></p>
<% if @ticket.checkin %>
    <p>Checked in: <%= @ticket.checkin.strftime("%m/%d/%Y") %></p>
<% end %>
<p>Total fare: $<%= number_with_precision(@ticket.totalFare, :precision => 2) %> </p>