
<h1 class="stretch-none uk-text-center">Bike <%= @bike.bikeid %></h1>


<% t = @bike %>

<div class="stretch uk-child-width-1-1" uk-grid>
  
  <section>
    
    <img src="<%= t.picture %>" alt="<%= t.color %> <%= t.style %> Bike" width='400'>

		<p>Fare: $<%= number_with_precision(t.fare, :precision => 2) %> + $<%= number_with_precision(t.fare*0.10, :precision => 2) %> per hour</p>
    <p>Description: <span class="uk-text-capitalize"><%= t.size %>cm</span> <span class="uk-text-capitalize"><%= t.color %></span> <span class="uk-text-capitalize"><%= t.style %></span> Bike
    <% if (t.accessories != "None") %>
      with <%= t.accessories %>
    <% end %> in <span class="uk-text-capitalize"><%= t.rating %></span> condition.
    </p>
    
		<p>Last Maintenance: <%= t.maintenance.strftime("%m/%d/%Y") %></p>
		
		<% if t.availability %>
			<p>Available &ndash; Current Location: <%= t.location %></p>
			<a href="<%= bikes_path %>/<%= t.id %>/switchAvailability" class="uk-button uk-button-primary uk-width-1-1">Check Out</a>
		<% else %>
			<p>Checked-Out &mdash; Last Checked-in: <%= t.lastcheck %></p>
			<a href="<%= bikes_path %>/<%= t.id %>/switchAvailability" class="uk-button uk-button-primary uk-width-1-1">Check In</a>
		<% end %>
    
    
    
  </section>
  
</div>
