
<section class="formElem">
  <%= f.label :bikeid, 'Identification Tag' %>
  <%= f.text_field :bikeid, :for => "bikeid", :placeholder => "\"A1000\"" %>
</section>
  
<section class="formElem">
  <%= f.label :serialnumber, 'Serial Number' %>
  <%= f.number_field :serialnumber, :step => "1", :placeholder => "\"12345\"" %>
</section>
  
<section class="formElem">
  <%= f.label :rating, 'User Rating' %>
  <%= f.select :rating, ['Poor', 'Average', 'Good'] %>
</section>

<section class="formElem">
  <%= f.label :condition, 'Current Condition' %>
  <%= f.select :condition, ['Poor', 'Good', 'Excellent'] %>
</section>
  
<section class="formElem">
  <%= f.label :maintenance, 'Last Maintenance' %>
  <input type="date" min="1834-01-01" name="bike[maintenance]">
</section>
  
<section class="formElem">
  <%= f.label :style, 'Style (Type)' %>
  <%= f.select :style, ['Mountain', 'Road', 'Touring'] %>
</section>

<section class="formElem">
  <%= f.label :size, 'Size (cm)' %>
  <%= f.text_field :size, :placeholder => "\"64\"" %>
</section>

<section class="formElem">
  <%= f.label :color, 'Primary Color' %>
  <%= f.select :color, ['Red', 'Orange', 'Yellow', 'Green', 'Cyan', 'Blue', 'Purple', 'Violet', 'Pink', 'Magenta', 'White', 'Gray', 'Black', 'Brown'] %>
</section>
  
<section class="formElem">
  <%= f.label :availability, 'Availability' %>
  <%= f.select :availability, [['Available', true], ['Not Available', false]] %>
</section>

<section class="formElem">
  <%= f.label :lastcheck, 'Last Check-in' %>
  <input type="date" min="1834-01-01" name="bike[lastcheck]">
</section>

<section class="formElem">
  <%= f.label :location, 'Current Location' %>
  <%= f.text_field :location, :placeholder => "\"Stanley Thomas\"" %>
</section>

<section class="formElem">
  <%= f.label :fare, 'Fare ($)' %>
  <%= f.number_field :fare, :step => '0.01', :placeholder => "\"2.50\"" %>
</section>

<section class="formElem">
  <%= f.label :accessories, 'Accessories' %>
  <%= f.text_field :accessories, :placeholder => "\"None\"" %>
</section>

<section class="formElem">
  <%= f.label :picture, 'Picture' %>
  <!--For uploading a file<td>%= f.file_field :picture, accept: 'image/png,image/gif,image/jpeg' %></td>-->
  <%= f.text_field :picture, :placeholder => "\"https://example.com/bike.png\"" %>
</section>
