<%= render :partial => 'bike_nav' %>

<h2>Edit a Bike</h2>

<%= form_for @bike do |f| %>

  <%= render :partial => 'bike_form', :locals => {:f => f} %>
  
  <%= f.submit "Update Bike" %>

<% end %>

<!--This is actually a form-link that will delete this object. This is the only safe way to do so.-->
<%= link_to 'Delete this Bike', bike_path(@bike), :method => :delete %>


