<% @pageName = "Bikes" %>
<% @pageSection = "Edit" %>

<%= render :partial => 'bike_nav' %>

<h2>Edit a Bike</h2>

<%= form_for @bike do |f| %>

  <%= render :partial => 'bike_form', :locals => {:f => f} %>
  
  <section class="formElem" id="submitSect">
    <%= button_to "Update Bike", bike_path(@bike), :method => :create, :class => "boot", :id => "create" %>
    <%= link_to "Delete Bike", bike_path(@bike), :method => :delete, :class => "boot", :id => "delete", :data => { confirm: "Are you sure you want to delete Bike #{@bike.bikeid}?" } %>
  </section>

<% end %>