<%= render :partial => 'bike_nav' %>

<h2>Edit a Bike</h2>

<%= form_for @bike do |f| %>

  <%= render :partial => 'bike_form', :locals => {:f => f} %>
  
  <section class="formElem">
    <%= f.submit "Update Bike", :class => "boot", :id => "create" %>
    <!--%= f.button "Update Bike", :type => "submit" %>-->
    
    <%= button_to "Delete Bike", bike_path(@bike), :method => :delete, :class => "boot", :id => "delete" %>
    <!--%= link_to 'Delete this Bike', bike_path(@bike), :method => :delete %>-->
  </section>

<% end %>