
<h1 class="stretch-none uk-text-center">Bike Inventory</h1>

<%= render :partial => '/renters/renter_tickets', :locals => {:tickets => @tickets} %>


<%= render :partial => 'bike_nav' %>

<h2 style="text-align: center">All Bikes</h2>
<!--Displays table listing attributes for all bikes-->
<div class="uk-margin-bottom">
	<div class="dataDisp uk-margin-bottom">
		
		<% @bikes.each do |t| %>
			<a href="<%= bikes_path %>/<%= t.id %>" class="uk-card uk-card-hover dataBlock uk-padding uk-text-uppercase">
				
					<div class="uk-card-body uk-grid-collpase uk-child-width-3-1 uk-text-center uk-padding-none" uk-grid>
						
						<!--Bike Image-->
						<div class="uk-card-media-left dataPicMargin">
							<img class="uk-border-rounded dataPic" style="background-image: url('<%= t.picture %>');" alt="<%= t.color %> <%= t.style %> Bike" src="<%= t.picture %>">
						</div>
						
						<!--Bike Status-->
						<div class="status uk-border-rounded
						<% if t.availability %>
							available
						<% else %>
							unavailable
						<% end %>"></div>
						
						<!--Bike Content-->
						<div class="dataContent">
							<% if t.availability %>
								<p>Fare: $<%= number_with_precision(t.fare, :precision => 2) %> + $<%= number_with_precision(t.fare*0.10, :precision => 2) %> / hour</p>
								<p>Rating: <%= t.rating %></p>
								<p><%= t.location %></p>
							<% else %>
								<p>Checked-Out</p>
							<% end %>
						</div>
						
					</div>
					
			</a>
		<% end %>
		
	</div>
	
	<!-- Adds pagination/navigation from Kaminari -->
	<div style="text-align: center;">
		<%= paginate @bikes, :param_name => "bike_page" %>
		<div style="clear: both;">
			<%= page_entries_info @bikes %>
		</div> 
	</div>

</div>
