<%= render :partial => 'bike_nav' %>

<h2>Bikes List</h2>

<!--Displays table listing attributes for all bikes -->

<div class="dataDisp">
	
	<% @bikes.each do |t| %>
		
		
		<div class="dataBlock">
			
			<% if t.availability %>
				<div class="dataBike">
			<% else %>
				<div class="dataBike unavailable">
			<% end %>
					<!--<img class="dataPic" src="%= t.picture %>">-->
					<a href="<%= bikes_path %>/<%= t.id %>"><%= t.bikeid %></a><p style="display: inline-block;">&nbsp;&#8211; $<%= number_with_precision(t.fare, :precision => 2) %><p>
					<p><%= t.size %>cm &#8211 <%= t.style %> &#8211 <%= t.color %></p>
					<p>Rating: <%= t.rating %></p>
					<p></p><% if t.availability %>
						<%= t.location %>
					<% else %>
						Checked-Out
					<% end %></p>
				</div>
		</div>
	
	<% end %>
	
</div>

<!-- Adds pagination/navigation from Kaminari -->
<div style="text-align: center;">
	<%= paginate @bikes %>
	<div style="clear: both;">
		<%= page_entries_info @bikes %>
	</div>
</div>