
<h1 class="stretch-none uk-text-center">Bike Inventory</h1>

<% if session[:logged_in] and @tickets != nil%>
<h2>Your Tickets</h2>
<div class="">
	<!-- If the user is logged in then show a pagination at the top with the -->
	<!-- current checked out tickets -->
	<div class="dataDisp uk-margin-bottom">
		
		<% @tickets.each do |t| %>
			
			<div class="dataBlock">
				<% if t.active %>
					<div class="dataBike available">
				<% else %>
					<div class ="dataBike unavailable">
				<% end %>
					<p><a href="<%= tickets_path %>/<%= t.id %>">View Ticket</a></p>
					<!-- <p>%= t.renterName %></p>-->
					<!-- <p>%= t.renterID %></p> -->
					<p>Checked out on <%= t.checkout.strftime("%m/%d/%Y") %></p>
					<% if t.checkin %>
					    <p>Checked in: <%= t.checkin.strftime("%m/%d/%Y") %></p>
						<p> Total
					<% else %>
						<p> Current
					<% end %>
					 fare: $<%= number_with_precision(t.totalFare, :precision => 2) %></p>
					<p><% if t.active %>
							<a href="/bikes/<%= t.bikeid %>/switchAvailability">CHECK IN</a>
						<% end %>
					</p>
					</div>
			</div>
		<% end %>
	</div>
	
	<div style="text-align: center;">
		<%= paginate @tickets, :param_name => "ticket_page" %>
		<div style="clear: both;">
			<%= page_entries_info @tickets %>
		</div> 
	</div>

</div>
<% end %>

<%= render :partial => 'bike_nav' %>

<h2>All Bikes</h2>
<!--Displays table listing attributes for all bikes-->
<div class="uk-margin-bottom">
	<div class="dataDisp uk-margin-bottom">
		
		<% @bikes.each do |t| %>
			<a href="<%= bikes_path %>/<%= t.id %>" class="uk-card uk-card-hover dataBlock uk-padding">
					<div class="uk-card-body uk-grid-collpase uk-child-width-3-1 uk-text-center" uk-grid>
						<div class="uk-card-media-left uk-height-small dataPicMargin">
							<img class="uk-border-rounded uk-height-small uk-preserve-width" alt="<%= t.color %> <%= t.style %> Bike" src="<%= t.picture %>">
						</div>
						<div class="status uk-border-rounded
						<%if t.availability%>
							available
						<%else%>
							unavailable
						<%end%>"></div>
						<div class="uk-padding uk-padding-remove-vertical dataContent">
							<p><%= t.bikeid %> &nbsp;&#8211; $<%= number_with_precision(t.fare, :precision => 2) %><p>
							<p><%= t.size %>cm &#8211 <%= t.style %> &#8211 <%= t.color %></p>
							<p>Rating: <%= t.rating %></p>
							<p></p><% if t.availability %>
								<%= t.location %>
							<% else %>
								Checked-Out
							<% end %></p>
						</div>
					</div>
			</a>
		<% end %>
		
	</div>
	
	<!-- Adds pagination/navigation from Kaminari -->
	<div style="text-align: center;">
		<%= paginate @bikes, :param_name => "bike_page" %>
		<div style="clear: both;">
			<%= page_entries_info @bikes %>
		</div> 
	</div>

</div>
