<nav class="miniNav">
  <h1>Bikes</h1>
  <a href="<%= bikes_path %>">Back</a>
</nav>

<!-- Lists description of the desired bike -->
<div class="bike">
  <div class="container">
    <img src="<%= @bike.picture %>" alt="Picture of Bike" width='400'>
    <h2><%= @bike.bikeid %></h2>
    <p1>
      This bike is a <%= @bike.size %> cm <%= @bike.color %> <%= @bike.style %> bike in <%= @bike.condition %> condition.<br>
      It is currently located at <%= @bike.location %>. <br>
      The bike's availability is now <%= @bike.availability %>. 
      <a href="<%= bikes_path %>/<%= @bike.id %>/switchAvailability"> Flip availability</a>
    </p1>
  </div>
</div>
