<!DOCTYPE html>

<html>
  
<head>
  
  <title>RenTUl</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,300i,400,400i,700,700i|Crimson+Text:300,300i,400,400i,700,700i|Expletus+Sans:400,400i,700,700i|Josefin+Sans:300,300i,400,400i,700,700i|Lato:300,300i,400,400i,700,700i|Merriweather:300,300i,400,400i,700,700i|Montserrat+Alternates:300,300i,400,400i,700,700i|Montserrat:300,300i,400,400i,700,700i|Nunito:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,700,700i|Raleway:300,300i,400,400i,700,700i|Source+Sans+Pro:300,300i,400,400i,700,700i" rel="stylesheet">
  
  <!--For testing: auto-refreshed page every so often-->
  <!--<meta http-equiv='refresh' content='1'>-->
  
  <%= favicon_link_tag       'application' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>

<body>
    
  <div class="app">
    
    <header>
      <div class="title">
        <a href="/"><h1>BIKE REN<span>TU</span>L</h1></a>
      </div>
      
      <nav id="primaryNavigation">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/pricing">Pricing</a>
        <a href="<%= bikes_path %>">Bikes</a>
        <a href="<%= renters_path %>">Users</a>
        <a href="/login">Account</a>
      </nav>
    </header>
    
    <div class="banner" id="banner">
      <%= image_tag("rsz_rentul_logo.jpg") %>
    </div>
    
    <main>
      
      <!-- Displays flash message on each page -->
      <% flash.each do |key, value| %>
        <!-- If the key is the :errors symbol, then display all the messages -->
        <!-- that were stored in the hash -->
        <% if key == "errors" %>
          <div class="alert corrections">
          <% value.each do |k, v| %>
            <p><%= k.capitalize %>
            <!-- Stop at length-1 because we only want 'and' between messages -->
            <% for i in 0...(v.length-1) %>
              <%= v[i] %> and
            <% end %>
            <!-- Display the final error message -->
            <%= v[v.length-1] %></p>
          <% end %>
          </div>
        <% else %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <% end %>
      
      <%= yield %>
      
    </main>
    
    <footer>
      <p>&copy; 2017 TEAM CAN'T</p>
    </footer>
    
  </div>

</body>

</html>