<!DOCTYPE html>

<html>
  
<head>
  
  <title>RenTUl</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Nunito:400,400i,700,700i|Raleway:400,400i,700,700i" rel="stylesheet">
  
  <!--For testing: auto-refreshed page every so often-->
  <!--<meta http-equiv='refresh' content='10';url='index.php'>-->
  
  <%= favicon_link_tag       'application' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>

<body>
    
  <div class="app">
    
    <header>
      <div class="title">
        <h1>BIKE REN<span>TU</span>L</h1>
      </div>
      
      <nav id="primaryNavigation">
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Pricing</a>
        <a href="<%= bikes_path %>">Bikes</a>
        <a href="<%= renters_path %>">Users</a>
        <a href="#">Account</a>
      </nav>
    </header>
    
    <div class="banner" id="banner">
      <%= image_tag("rsz_rentul_logo.jpg") %>
    </div>
    
    <main>
      <div id="user-widget">
        <% if current_user %>
          Welcome <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
      </div>
      <!-- Displays flash message on each page -->
      <% flash.each do |key, value| %>
        <% if key == "errors" %>
          <% value.each do |k, v| %>
            <p><%= k.capitalize %>
            <% for i in 0...(v.length-1) %>
              <%= v[i] %> and
            <% end %>
            <%= v[v.length-1] %></p>
          <% end %>
        <% else %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <% end %>
      
      <%= yield %>
      
    </main>
    
    <footer>
      <p>&copy; 2017 TEAM CAN'T</p>
    </footer>
    
  </div>

</body>

</html>